NODE_ENV=development
API_PORT=3000
CASASTUDIO_POSTGRES_DB=casastudio
CASASTUDIO_POSTGRES_USER=casastudio
CASASTUDIO_POSTGRES_PASSWORD=replace-me-local-postgres-password
CASASTUDIO_TEST_POSTGRES_DB=casastudio_test
CASASTUDIO_TEST_POSTGRES_PASSWORD=replace-me-local-test-postgres-password
CASASTUDIO_KEYCLOAK_ADMIN_PASSWORD=replace-me-local-keycloak-admin-password
CASASTUDIO_KEYCLOAK_API_CLIENT_SECRET=replace-me-local-api-client-secret
CASASTUDIO_KEYCLOAK_DEMO_PASSWORD=replace-me-local-demo-password
DATABASE_URL=postgresql://casastudio:replace-me-local-postgres-password@localhost:5432/casastudio?schema=public
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=casastudio
KEYCLOAK_ISSUER=http://localhost:8080/realms/casastudio
KEYCLOAK_JWKS_URI=http://localhost:8080/realms/casastudio/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=casastudio-api
KEYCLOAK_CLIENT_ID=casastudio-api
SWAGGER_ENABLED=true
LOG_LEVEL=debug
